<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="game-view.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <meta charset="UTF-8">


    <title>Players</title>
</head>

<body>


    <div id="app">
        <nav class="navbar">
            <div class="container-fluid center-block">
                <div class="navbar-header">
                    <a class="navbar-brand" href="home.html">Battleship</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="games.html"> Back to Games</a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <div v-if="loggedUser">
                        <form class="form-inline">
                            {{loggedUser.username}}
                        </form>
                    </div>
                </ul>
            </div>
            </li>


        </nav>

        <div class="container-fluid text-center center-block" my-0>
            <h1>Game View</h1>
            <h3> turn: {{currentTurn+1}}</h3>
            <div class="row text-center">
                <div class="col-lg-6 mr-0">
                    <h3>Fleet Grid</h3>
                    <div class="container" id="gamegrid">
                        <div class="row text-center">
                            <div class="col-xs-1 border">#</div>
                            <div class="col-xs-1 border" v-for="column in gameGrid.horizontal" :key="column.id">
                                {{ column }}
                            </div>
                        </div>
                        <div class="row text-center" v-for="row in gameGrid.vertical" :key="row.id">
                            <div class="col-xs-1 border"> {{ row }}</div>
                            <div v-for="cell in gameGrid.horizontal" v-bind:id="row + cell" :key="cell.id" class="col-xs-1 border px-0 py-0 mx-0 my-0">
                                <img v-for="ship in shipFleet" v-if="ship.origine == row+cell" :key="ship.id" height="40px"
                                    :width="ship.width" :src="ship.img" :style="shipDirection(ship.type)" :id="ship.type">

                                <div class="puffIn" id="puffIn" v-if="isHit( row+cell)" class="col-sm-12 h-100" style="background-color: firebrick">
                                    {{isHit( row+cell)}}
                                </div>

                                <!-- <div v-else-if="isShip_old( row+cell)" class="col-sm-12 h-100" style="background-color: blue">
                                </div> -->

                                <div v-else class="col-sm-12 h-100  px-0 py-0 mx-0 my-0" @drop="drop($event,row,cell)"
                                    @dragover="allowDrop($event,row,cell)" @dragleave="dragLeave($event,row,cell)"></div>

                            </div>

                        </div>

                    </div>
                    <button v-show="invalidPos" class="btn btn-outline-danger my-2 my-sm-0">Invalid Position</button>

                </div>

                <div class="col-lg-6">

                    <div v-if="!readytoPlay" class="container">
                        <h3>Fleet</h3>
                        <button v-if="fleetReady" class="btn btn-outline-dark my-2 my-sm-0" v-on:click="addShip">Add
                            Ships</button>
                        <div class="row" style="display: flex">
                            <div style="display: flex" v-if="!shipFleet.destroyer.set">
                                <h5>Destroyer</h5>

                                <button v-on:click="rotateDestroyer" class="btn"><i class="fas fa-sync-alt"></i><img id="Destroyer"
                                        :width="shipFleet.destroyer.width" height="40px" :src="shipFleet.destroyer.img"
                                        draggable="true" @dragstart="drag($event)"></button>

                            </div>
                        </div>
                        <div class="row " style="height: 50px;">
                            <div style="display: flex" v-if=" !shipFleet.cruiser.set">
                                <h5>Cruiser</h5>

                                <button v-on:click="rotateCruiser" class="btn"><i class="fas fa-sync-alt"></i><img id="Cruiser"
                                        height="40px" :src="shipFleet.cruiser.img" draggable="true" @dragstart="drag($event)"></button>
                            </div>
                        </div>
                        <div class="row" style="height: 50px">
                            <div style="display: flex" v-if="!shipFleet.carrier.set">
                                <h5>Carrier</h5>

                                <button v-on:click="rotateCarrier" class="btn"><i class="fas fa-sync-alt"></i><img id="Carrier"
                                        height="40px" :width="shipFleet.carrier.width" :src="shipFleet.carrier.img"
                                        draggable="true" @dragstart="drag($event)"></button>

                            </div>
                        </div>
                        <div class="row" style="display: flex">
                            <div style="display: flex" v-if="!shipFleet.submarine.set">
                                <h5>Submarine</h5>

                                <button id="sub" v-on:click="rotateSubmarine" class="btn"><i class="fas fa-sync-alt"></i>
                                    <img id="Submarine" height="40px" :width="shipFleet.submarine.width" :src="shipFleet.submarine.img"
                                        draggable="true" @dragstart="drag($event)"></button>

                            </div>
                        </div>
                        <div class="row text-center">

                            <div style="display: flex" v-if="!shipFleet.battleship.set">

                                <h5>Battleship</h5>

                                <button v-on:click="rotateBattleship" class="btn"><i class="fas fa-sync-alt"></i> <img
                                        id="Battleship" height="40px" :width="shipFleet.battleship.width" :src="shipFleet.battleship.img"
                                        draggable="true" @dragstart="drag($event)"></button>

                            </div>
                        </div>


                    </div>
                    <div v-else class="container">
                        <h3>Salvoes Grid</h3>
                        <div class="container" id="gamegrid">

                            <div class="row text-center">
                                <div class="col-xs-1 border">#</div>
                                <div class="col-xs-1 border" v-for="column in gameGrid.horizontal" :key="column.id">
                                    {{ column }}
                                </div>
                            </div>
                            <div class="row text-center" v-for="row in gameGrid.vertical" :key="row.id">
                                <div class="col-xs-1 border"> {{ row }}</div>
                                <div v-on:click="salvoSelect(row , cell)" @mouseover="mouseonSalvoes($event,row,cell)"
                                    @mouseout="mouseoutSalvoes($event,row,cell)" v-for="cell in gameGrid.horizontal"
                                    v-bind:id="'_'+row + cell" :key="cell.id" class="col-xs-1 border px-0 py-0 mx-0 my-0">
                                    <div v-if="isFired( row+cell)" class="col-sm-12 h-100" style="background-color: green">
                                        <h5>{{isFired( row+cell)}}</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="row text-center" style="display: flex">
                                <h5>Ready to fire at positions {{currentSalvo[0]}} {{currentSalvo[1]}} </h5>
                                <button v-if="currentSalvo[1]" class="btn btn-danger my-2 my-sm-0" v-on:click="addSalvo">Fire
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="game_view.js"></script>
</body>

</html>